//White-color
$white-color-one: #fff;


//White-color
$white-color-rgba-one: rgba(255,255,255,.2);
$white-color-rgba-two: rgba(255,255,255,.95);
$white-color-rgba-three: rgba(250,250,250,.9);

//Black-color
$black-color-one: #000;
$black-color-two: #242424;
$black-color-three: #404040;

//Black-color-rgba
$black-color-rgba-one: rgba(0,0,0,.3);
$black-color-rgba-two: rgba(0, 0, 0, .4);
$black-color-rgba-three: rgba(0, 0, 0, .5);
$black-color-rgba-four: rgba(0, 0, 0, 0.4);
$black-color-rgba-five: rgba(36, 36, 36, .5);
$black-color-rgba-six: rgba(0, 0, 0, .12);

//Grey-color
$grey-color-one: #C3C3C3;
$grey-color-two: #7D838A;

//Red-color
$red-color-one: #DE0000;
$red-color-three: #D85857;

//Red-color-rgba
$red-color-rgba-one: rgba(222, 0, 0, .2);
$red-color-rgba-two: rgba(222, 0, 0, .5);

//Red-rgba-color
$red-rgba-one: rgba(222,0,0,.1);

//Blue-color
$blue-color-one: #003399;
$blue-color-two: #106099;
$blue-color-three: #385da4;
