mixin cookie
  .cookie
    .container-fluid
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-between
            .cookie__settings.cookie_mb-1.col-xl-8
              p.cookie__text
                | На сайте применяется обработка файлов cookie, помогающих создать максимально удобные условия использования.&nbsp;
                | для всех посетителей. С нашей&nbsp;
                a(href='https://static.rustransfer.org/docs/politika_konfidencialnosti.pdf', title='', target='_blank') политикой конфиденциальности
                | &nbsp;Вы можете ознакомиться&nbsp;
                a(href='https://static.rustransfer.org/docs/politika_konfidencialnosti.pdf', title='', target='_blank') здесь
                | .

            .cookie__wrapper-button.col-xl-4

              +button-small-blue('Согласен', 'button', 'cookie-button', 'javascript:void(0);')

              +button-small-red('Закрыть', 'button', 'cookie-button', 'javascript:void(0);')
