// Google Tag Manager
script.
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
              new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-52Q7XN4');
// End Google Tag Manager

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title Аренда авто и автобусов с водителем | Трансферы из аэропортов | Заказ трансфера
meta(name='keywords', content='Аренда авто и автобусов с водителем | Трансферы из аэропортов | Заказ трансфера')
meta(name='description', content='Заказ автобусов | Аренда автобусов | Заказ микроавтобуса | Аренда микроавтобуса | Аренда минивэна | Заказ минивэна | Трансферные услуги по территории России и за рубежом')
meta(name='author', content='ООО РусТрансфер')
meta(name='copyright', content='ООО РусТрансфер')
meta(name='Publisher-Email', content='24@rustransfer.org')
meta(name='Publisher-URL', content='https://rustransfer.org/')
meta(name='robots', content='All')
link(rel="icon", href="/favicon.ico", type="image/x-icon")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
link(href='/assets/css/style.css?ver=1.0.0', rel='stylesheet')
script(src="//code.jivosite.com/widget.js" data-jv-id="OwzaEmdwus" async="")

// Marquiz script start
script(src="//script.marquiz.ru/v1.js" type="application/javascript")
script.
  document.addEventListener("DOMContentLoaded", function() {
    Marquiz.init({
      id: '5e8cb47344a4300055554125',
      autoOpen: false,
      autoOpenFreq: 'once',
      openOnExit: false
    });
  });
// Marquiz script end
