@import '../navbar/navbar';

.header {

  position: absolute;
  width: 100%;
  z-index: 20;
  padding-bottom: 20px;
  overflow-x: hidden;

  .logo {

    width: 290px;

    @media only screen and (max-width: 1387px) {

      width: 200px;

    }

    @media only screen and (max-width: 572px) {

      width: 160px;

    }

    @media only screen and (max-width: 532px) {

      width: 140px;

    }

  }

}

