//=== ICONS ===//

include ../../templates/mixins/icons/arrow/icons
include ../../templates/mixins/icons/svg-icon/icons
include ../../templates/mixins/icons/header/icons
include ../../templates/mixins/icons/footer/icons
include ../../templates/mixins/icons/social.networks/icons
include ../../templates/mixins/icons/messengers/icons

//=== END ICONS ===//


//=== COMPONENTS ===//

include ../../templates/mixins/components/buttons/buttons
include ../../templates/mixins/components/cookie/cookie

//=== END COMPONENTS ===//
