mixin svg-arrow-down
  svg.svg-arrow-down(width="12" height="58" viewbox="0 0 12 58" fill="none" xmlns="http://www.w3.org/2000/svg")
    path#Vector(d="M11.0808 51.9638C11.3064 51.7458 11.3064 51.383 11.0808 51.1574C10.8628 50.9394 10.5 50.9394 10.2826 51.1574L6.19392 55.2461L6.36312 1.50004C6.36261 1.18553 6.11262 0.935547 5.79811 0.935547C5.4836 0.935547 5.22548 1.18553 5.22548 1.50004L5.05629 55.2461L0.975246 51.1574C0.749651 50.9394 0.386361 50.9394 0.168896 51.1574C-0.0566998 51.383 -0.0566998 51.7463 0.168896 51.9638L5.22548 57.0203C5.44346 57.2459 5.80624 57.2459 6.02371 57.0203L11.0808 51.9638Z" fill="white")

mixin svg-arrow-down-right
  svg.svg-arrow-down-right(width="18" height="96" viewbox="0 0 18 96" fill="none" xmlns="http://www.w3.org/2000/svg")
    g#Group
      line(id="Line 3" x1="17" y1="91.5" x2="1" y2="91.5" stroke="white")
      line(id="Line 4" x1="0.5" y1="92" x2="0.5" stroke="white")
      path#Vector(d="M13.4274 87.1354C13.2367 86.9549 12.9193 86.9549 12.7219 87.1354C12.5312 87.3097 12.5312 87.5999 12.7219 87.7739L16.2995 91.0448H4.49393C4.21874 91.0452 4 91.2451 4 91.4967C4 91.7484 4.21874 91.9548 4.49393 91.9548H16.2995L12.7219 95.2196C12.5312 95.4001 12.5312 95.6907 12.7219 95.8646C12.9193 96.0451 13.2372 96.0451 13.4274 95.8646L17.852 91.8195C18.0493 91.6451 18.0493 91.3549 17.852 91.1809L13.4274 87.1354Z" fill="white")



